border_b_line($line)
  border-bottom $line solid #999
border_t_line($line)
  border-top $line solid #999
border_b_line_active($line)
  border-bottom $line solid #0c80ba
base_padding_Mixin()
  padding 0 1.5rem
