/* 定义项目风格样式文件 */

// 颜色定义规范
// 默认背景色
$background-color = #fff
// 成功按钮背景颜色
$success_btn_bg_color = #1176CC
$color-background-d = rgba(0, 0, 0, 0.3)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #ffcd32
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #fff
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-l = rgba(255, 255, 255, 0.5)
$color-text-ll = rgba(255, 255, 255, 0.8)

// 字体大小规范
$font_size = 1rem
$font_size_default = 1.2rem
$font_size_p_s = 1.4rem
$font_size_p = 1.6rem
$font-size-small-s = 1rem
$font-size-small = 1.2rem
$font-size-medium = 1.4rem
$font-size-medium-x = 1.6rem
$font-size-large = 1.8rem
$font-size-large-x = 2.2rem

// 字体颜色规范
$font_color_default = #333
$font_color_white = #fff
$font_color_desc = #808080
$font_color_bg = #ccc
$font_color_active = #0069a5
$font_color_importance = #e20d09

// 边框颜色规范
// 分割线
$border_line_gutter = 1px solid #999
$border_line_active = 2px solid #0c80ba
